
.superior{
	height:20%;
	position:relative;
	/*background-color:rgba(255,255,0,1);*/
	}


.inferior{
	height:80%;
	position:relative;
	}
	
	
.tabla{
	text-align: left;
	position: absolute;
	margin-top: 0%;
	width: 100%;
	font-size:14px;
	}
.colorTabla1:hover {
	border-color:#000;
    color:#093;
}

input{
	border: rgba(0,255,0,1);
	width:98%;
	text-align:center;

	}
#scroll-tabla {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	margin: 0%;
	padding: 0%;
	font-size:18px;
}





.w3-sidebar1{
	display:block;
	height:98%; 
	bottom: -10%;
	width:100%;
	background-color: rgba(51,51,51,1);
	background-repeat: repeat;
	position:fixed!important;
	z-index:1;
	color:#FFF;/*color del texto*/
	text-decoration:none;


}

.w3-overlay{/*REVISAR*/
	/*position:fixed;*/
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:2;
	
}


.w3-animate-bottom{/*REVISAR*/
	position:absolute;
	animation:animatebottom 1.5s;
	-webkit-transition:bottom 1.5s;
	-moz-transition:bottom 1.5s;
	-o-transition:bottom 1.5s;
	-ms-transition:bottom 1.5s;
}

@keyframes animatebottom{/*REVISAR*/
	from{
	bottom:-100%;
	opacity:0
	} 
	to{bottom:-12%;
	opacity:1}
}



.mobile-container {
  width: 100%;
  background-color: #555;
  height: 90%;
  color: white;
}











#scroll5{
	overflow-y: scroll;
	height: 85%;
	width:100%;
	}
#AceroNoAleado{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	diplay:none;
	}	
#Fundicion{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	display:none;
}
#AceroInoxidable{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	display:none;
}
#AceroTemplado{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	display:none;
}
#AleacionForja{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	display:none;
}
#AleacionTermo{
	height:80px;
	width:100%;
	margin-left:0%;
	margin-top:2%;
	display:none;
}

.topnav button{

  color: white;
  padding: 4.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
	}

.P{
	background-color:#D1E5F8;
	}
.K{
	background-color:#EBCEE2;
	}
.M{
	background-color:#E0DDB2;
	}
.N{
	background-color:#D0E4CB;
	}
.S{
	background-color:#E8DFCD;
	}
.H{
	background-color:#EFF3F6;
	}
.volver{
	background-color:darkgreen;

	}
.X{
	background-color:darkred;
	}






/*Tabla resultados*/
.w3-TablaRes{
	display:block;
	height:78%; 
	bottom: 10%;
	width:100%;
	background-color:#FFF;
	background-repeat: repeat;
	position:fixed!important;
	z-index:1;
	color:#FFF;/*color del texto*/
	text-decoration:none;


}
.scrollTablaRes{
	overflow-y: scroll;
	height: 80%;
	width:100%;
}

.calc-cerrar{
	height:10%;
	background-color:#900;
	border-color:#dd5;
	border-top-left-radius:.4em;
	border-top-right-radius:.4em;
}
.calc-cerrar a{
	margin-left:30%;
	position:absolute;
	}
.calc-cerrar2{
	height:10%;
	background-color:#900;
	border-color:#dd5;
	border-bottom-left-radius:.4em;
	border-bottom-right-radius:.4em;
}
.calc-cerrar2 a{
	margin-left:30%;
	position:absolute;}

	
.tablaResultados{
  background: #34495E;

  overflow: hidden;
  border:#dd5;
}
.calc a{
	color:#dd5;}
.columna1 a{
	color:#dd5;}
.columna2 a{
	color:#FFF;}
.tablaResultados tr {
    border-top: 1px solid #dd5;
    border-bottom: 1px solid #dd5;
  }

.w3-animate-tableRes{/*REVISAR*/
	position:absolute;
	animation:animatetableRes 1.5s;
	-webkit-transition:bottom 1.5s;
	-moz-transition:bottom 1.5s;
	-o-transition:bottom 1.5s;
	-ms-transition:bottom 1.5s;
}

@keyframes animatetableRes{/*REVISAR*/
	from{
	bottom:-100%;
	opacity:0
	} 
	to{bottom:10%;
	opacity:1}
}






/*Menu Seleccion Material segunda tabla*/

.w3-overlay2{/*REVISAR*/
	/*position:fixed;*/
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:2;
	
}

.w3-sidebar2{
	display:block;
	height:98%; 
	bottom: -10%;
	width:100%;
	background-color: rgba(51,51,51,1);
	background-repeat: repeat;
	position:fixed!important;
	z-index:1;
	color:#FFF;/*color del texto*/
	text-decoration:none;


}
.mobile-container2 {
  width: 100%;
  background-color: #555;
  height: 90%;
  color: white;
}


/*Correccion en flecha doble*/
.topnav1{
	height: 12%;
	
}
/*Correccion en flecha doble*/
.topnav1 button{
	height: 100%;
	  color: white;
	width: 13.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
